.header {
  background-color: 5aaf7f !important;
}

.menuButton {
  font-family: 'Open Sans, sans-serif';
  font-weight: 700;
  font-size: 18px;
  margin-left: 38px;
  justify-content: space-between;
}

.MuiToolbar-root div {
  display: flex !important;
  justify-content: space-between !important;
}

.MuiToolbar-gutters MuiToolbar-regular toolbar css-1t29gy6-MuiToolbar-root div {
  display: flex !important;
  justify-content: space-between !important;
}
.toolbar {
  display: flex !important;
  justify-content: space-between !important;
}

.css-1y942vo-MuiButtonBase-root-MuiButton-root {
  display: flex !important;
  justify-content: space-between !important;
}

.css-1t29gy6-MuiToolbar-root {
  display: flex;
  background-image: linear-gradient(
    to right top,
    #298936,
    #2e8b3d,
    #338e43,
    #389049,
    #3d924f,
    #3e9853,
    #409e58,
    #41a45c,
    #3faf5f,
    #3cba63,
    #38c666,
    #33d169
  ) !important;
  justify-content: space-between !important;
}

.toolbar div a {
  justify-content: right !important;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  text-align: left;
  font: normal normal bold 24px/28px Gill Sans;
  letter-spacing: 0px;
  background-image: linear-gradient(
    to right top,
    #298936,
    #2e8b3d,
    #338e43,
    #389049,
    #3d924f,
    #3e9853,
    #409e58,
    #41a45c,
    #3faf5f,
    #3cba63,
    #38c666,
    #33d169
  );
  opacity: 1;
}

a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: darkgray;
}
a:active {
  color: yellowgreen;
}

.alt-font {
  font-size: 24px;
}

.main-nav li {
  list-style: none;
}

.main-nav li a {
  text-decoration: none;
  top: 24px;
  height: 28px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  background-image: linear-gradient(
    to right top,
    #298936,
    #2e8b3d,
    #338e43,
    #389049,
    #3d924f,
    #3e9853,
    #409e58,
    #41a45c,
    #3faf5f,
    #3cba63,
    #38c666,
    #33d169
  ) !important;
}

@media screen and (max-width: 1050px) {
  .menuButton {
    display: flex;
    gap: 1em;
  }
  .css-1t29gy6-MuiToolbar-root {
    display: flex;
    gap: 1em;
  }

  @media screen and (max-width: 700px) {
    .menuButton {
      display: flex;
    }

    .menuButton {
      font-size: 14px;
    }
  }
  .css-1t29gy6-MuiToolbar-root {
    display: flex;
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .menuButton {
    display: flex;
  }

  .css-1t29gy6-MuiToolbar-root {
    display: flex;
    font-size: 9px;
  }
  .alt-font {
    font-size: 9px;
  }
}
