.header {
  background-color: 5aaf7f !important;
}

.menuButton {
  font-family: 'Open Sans, sans-serif';
  font-weight: 700;
  font-size: 18px;
  margin-left: 38px;
  justify-content: flex !important;
}

.MuiToolbar-root div {
  display: flex !important;
  justify-content: space-between !important;
}

.MuiToolbar-gutters MuiToolbar-regular toolbar css-1t29gy6-MuiToolbar-root div {
  display: flex !important;
  justify-content: space-between !important;
}
.toolbar {
  display: flex !important;
  justify-content: space-between !important;
}

.css-1y942vo-MuiButtonBase-root-MuiButton-root {
  display: flex !important;
  justify-content: space-between !important;
}

.css-1t29gy6-MuiToolbar-root {
  display: flex;
  background: #002366 !important;
  justify-content: space-between !important;
}

.toolbar div a {
  justify-content: right !important;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  text-align: left;
  font: normal normal bold 24px/28px Gill Sans;
  letter-spacing: 0px;
  color: #002366;
  opacity: 1;
}

a:link {
  color: #002366;
}
a:visited {
  color: #002366;
}
a:hover {
  color: #27b2fd;
}
a:active {
  color: red;
}

.alt-font {
  font-size: 24px;
}

.main-nav li {
  list-style: none;
}

.main-nav li a {
  text-decoration: none;
  top: 24px;
  height: 28px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media screen and (max-width: 1050px) {
  .main-nav {
    display: flex;
    gap: 1em;
  }

  .main-nav li a {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .main-nav {
    display: none;
  }

  .alt-font {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .main-nav {
    display: none;
  }

  .alt-font {
    font-size: 9px;
  }
}
