/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}  */

.App-link {
  color: #61dafb;
}

.footer {
  font-size: 20px;
  /* margin-top: 1rem; */
  padding: 1rem;
  background-image: linear-gradient(
    to right top,
    #298936,
    #2e8b3d,
    #338e43,
    #389049,
    #3d924f,
    #3e9853,
    #409e58,
    #41a45c,
    #3faf5f,
    #3cba63,
    #38c666,
    #33d169
  );
  bottom: 0;
  left: 0;
  width: 100%;
}

/* .hero {
 
  padding: 1rem;
  padding-top: 5rem;
}

.hero-content {
  max-width: 600;
  margin: '0 auto';
} */

.course-image {
  width: 30%;
}

.course-container {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 2rem 1rem;
}
.one-course-container {
  justify-content: flex-left;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 2rem 2rem !important;
}
.card-space {
  padding: 2rem 2rem !important;
  background-color: aliceblue !important;
}
.rating-grid {
  background-color: aliceblue !important;
}

.top-three {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  /* background: rgb(241, 190, 234);
  background: linear-gradient(
    90deg,
    rgba(241, 190, 234, 0.9598433123249299) 0%,
    rgba(224, 151, 226, 0.8814119397759104) 39%,
    rgba(86, 224, 251, 1) 100%
  ); */
  background-color: aliceblue;
  padding: 2rem 0.5rem;
}
.rank-explanation {
  padding: 4rem;
  background-color: aliceblue;
}

/* .MuiGrid-container {
  width: 10px !important;
} */

/* .cta-buttons {
  justify-content: center;
} */

/* .css-r40f8v-MuiTypography-root {
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(0, 0, 0, 0.6);
} */

/* p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
} */

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-image: linear-gradient(
    to right top,
    #298936,
    #2e8b3d,
    #338e43,
    #389049,
    #3d924f,
    #3e9853,
    #409e58,
    #41a45c,
    #3faf5f,
    #3cba63,
    #38c666,
    #33d169
  ) !important;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  border: 1px solid #298936 !important;
  color: #389049 !important;
}

.css-10759ka-MuiTypography-root {
  color: #389049 !important;
}
.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  background-image: linear-gradient(
    to right top,
    #298936,
    #2e8b3d,
    #338e43,
    #389049,
    #3d924f,
    #3e9853,
    #409e58,
    #41a45c,
    #3faf5f,
    #3cba63,
    #38c666,
    #33d169
  ) !important;
}

.css-17sgzu2-MuiTypography-root {
  color: #389049 !important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  color: #389049 !important;
}

.video-container {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
}

.selector {
  padding: 1rem;
  padding-top: 4rem;
  background-color: aliceblue;
}
