.footer {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 20px;
  display: flex;
  justify-content: center;
  color: white;
  background-image: linear-gradient(
    to right top,
    #298936,
    #2e8b3d,
    #338e43,
    #389049,
    #3d924f,
    #3e9853,
    #409e58,
    #41a45c,
    #3faf5f,
    #3cba63,
    #38c666,
    #33d169
  );
  bottom: 0;
  left: 0;
  width: 100%;
}

.course-image {
  width: 30%;
}

.course-container {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 2rem 1rem;
}
.one-course-container {
  justify-content: flex-left;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 6rem 1rem;
}
.card-space {
  padding: 1rem 1rem !important;
  background-color: aliceblue !important;
  min-width: 180;
  row-gap: 1px;
}
.card-space-2 {
  padding: 0.5rem 0.5rem !important;
  background-color: aliceblue !important;
}
.card-space-3 {
  padding: 2rem 2rem !important;
  background: rgb(202, 214, 200);
  background: linear-gradient(
    90deg,
    rgba(202, 214, 200, 0.9598433123249299) 0%,
    rgba(152, 210, 150, 0.8814119397759104) 48%,
    rgba(78, 195, 122, 1) 100%
  );
}
.card-space-4 {
  padding: 2rem 2rem !important;
  background-color: aliceblue;
}
.card-space-5 {
  padding: 2rem 2rem !important;
  background: rgb(125, 147, 122);
  background: linear-gradient(
    90deg,
    rgba(125, 147, 122, 0.9598433123249299) 0%,
    rgba(65, 94, 64, 0.8814119397759104) 48%,
    rgba(15, 107, 50, 1) 100%
  );
}
.card-space-6 {
  padding: 2rem 2rem !important;
  background-color: aliceblue !important;
  /* background: rgb(72, 128, 130);
  background: linear-gradient(
    90deg,
    rgba(72, 128, 130, 0.9598433123249299) 0%,
    rgba(49, 72, 80, 0.8814119397759104) 48%,
    rgba(20, 36, 38, 1) 100%
  ); */
}

.card-space-7 {
  padding: 1rem 1rem !important;
  background-color: aliceblue !important;
  display: flex !important;
  justify-content: center !important;
}

.card-bottom-align-right div {
  display: flex;
  justify-content: space-between;
}
.rating-grid {
  background-color: aliceblue;
  /* background: rgb(72, 128, 130);
  background: linear-gradient(
    90deg,
    rgba(72, 128, 130, 0.9598433123249299) 0%,
    rgba(49, 72, 80, 0.8814119397759104) 48%,
    rgba(20, 36, 38, 1) 100%
  ) !important; */
  justify-content: space-around;
  align-items: center;
}

.top-three {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 2rem 0.5rem;
}
.rank-explanation {
  padding: 4rem;
  background-color: aliceblue;
}
.rank-explanation button {
  display: flex;
  justify-content: center !important;
}
.rank-explanation h3 {
  color: #298936;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-image: linear-gradient(
    to right top,
    #298936,
    #2e8b3d,
    #338e43,
    #389049,
    #3d924f,
    #3e9853,
    #409e58,
    #41a45c,
    #3faf5f,
    #3cba63,
    #38c666,
    #33d169
  ) !important;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  border: 1px solid #298936 !important;
  color: #389049 !important;
}

.css-10759ka-MuiTypography-root {
  color: #389049 !important;
}
.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  background-image: linear-gradient(
    to right top,
    #298936,
    #2e8b3d,
    #338e43,
    #389049,
    #3d924f,
    #3e9853,
    #409e58,
    #41a45c,
    #3faf5f,
    #3cba63,
    #38c666,
    #33d169
  ) !important;
}

.css-17sgzu2-MuiTypography-root {
  color: #389049 !important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  color: #389049 !important;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 20px;
  justify-content: center;
  background-image: linear-gradient(
    to right top,
    #298936,
    #2e8b3d,
    #338e43,
    #389049,
    #3d924f,
    #3e9853,
    #409e58,
    #41a45c,
    #3faf5f,
    #3cba63,
    #38c666,
    #33d169
  );
  cursor: pointer;
}

#myBtn:hover {
  background: gray;
  color: #338e43;
}
.hero-btn-bottom {
  margin: 1rem auto;
}

.selector {
  padding: 3rem;
  padding-top: 8rem;
  background-color: aliceblue;
}

.rate-again {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 5rem 5rem;
}

/* how we rate button on rating form */
.css-13i4rnv-MuiGrid-root {
  box-sizing: border-box;
  margin: 0;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: column !important;
  align-items: center !important;
  display: flex !important;
}

.links {
  color: #2e8b3d !important;
}

/* a:hover {
  color: darkgray;
}
a:active {
  color: yellowgreen;
} */

/* For Rating Form to Center */
.css-167zg92 {
  margin: 0px 0px 0.35em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.167;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 0.87);
  justify-content: center;
  display: flex;
}

/* For otherwise */
.css-t1nuxs {
  margin: 0px 0px 0.35em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
  display: flex;
  justify-content: center;
}

/* Courses List */
.css-gepadz-MuiTypography-root {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.167;
  letter-spacing: 0em;
  display: flex;
  justify-content: center;
}
/* Text Below */
.css-2ulfj5-MuiTypography-root {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  display: flex;
  justify-content: center;
}

/* More test above drop down */
.css-1uaewpj-MuiTypography-root {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  justify-content: center;
}
.courses-list-heading {
  display: -ms-flexbox !important;
  justify-items: auto !important;
  justify-content: center !important;
}

.get-button-centered {
  display: -ms-flexbox !important;
  justify-items: auto !important;
  justify-content: center !important;
}

@media screen and (max-width: 1050px) {
  .card-space-6 {
    display: flex-column;
    gap: 1em;
  }
}

@media screen and (max-width: 800px) {
  .card-space-6 h3 {
    font-size: 25px;
  }
  .card-space-6 h4 {
    font-size: 20px;
  }
  .card-space-6 h5 {
    font-size: 17px;
  }
  .card-space-6 h6 {
    font-size: 16px;
  }
  .one-course-container h3 {
    font-size: 23px;
  }
  .one-course-container h4 {
    font-size: 20px;
  }
  .one-course-container h5 {
    font-size: 18px;
  }
  .one-course-container h6 {
    font-size: 16px;
  }
  .one-course-container h7 {
    font-size: 14px;
  }
  .one-course-container h6 a {
    font-size: 16px;
  }
  .card-space img {
    height: 200px auto;
    width: 250px auto;
  }
  .card-space-7 h5 {
    font-size: 17px;
  }
  .courses-list-heading h3 {
    font-size: 23px;
  }
  .courses-list-heading h6 {
    font-size: 16px;
  }
}

@media screen and (max-width: 550px) {
  .card-space-6 h3 {
    font-size: 21px;
  }
  .card-space-6 h4 {
    font-size: 16px;
  }
  .card-space-6 h5 {
    font-size: 13px;
  }
  .card-space-6 h6 {
    font-size: 13px;
  }
  .one-course-container h3 {
    font-size: 18px;
  }
  .one-course-container h4 {
    font-size: 17px;
  }
  .one-course-container h5 {
    font-size: 16px;
  }
  .one-course-container h6 {
    font-size: 13px;
  }
  .one-course-container h7 {
    font-size: 11px;
  }
  .one-course-container h6 a {
    font-size: 12px;
  }
  .card-space img {
    height: 150px auto;
    width: 175px auto;
  }
  .card-space-7 h5 {
    font-size: 13px;
  }
  .courses-list-heading h3 {
    font-size: 18px;
  }
  .courses-list-heading h6 {
    font-size: 13px;
  }
}
